<div class="py-5 flex justify-center items-center h-screen w-full">
  <div>
    <!-- <div class="flex justify-center">
      <img ngSrc="/images/logo.avif" alt="Logo" width="150" height="150" />
    </div> -->

    <form
      [formGroup]="form"
      (ngSubmit)="submit()"
      class="space-y-6 max-w-xl mx-auto p-6 bg-white rounded"
    >
      <!-- Review (Faces) -->
      <div class="p-fluid">
        <label class="block mb-5 text-3xl text-center"
          >كيف كانت تجربتك معنا؟</label
        >
        <div class="flex justify-between gap-6 text-4xl">
          <div *ngFor="let r of reviewOptions">
            <button
              type="button"
              (click)="selectReview(r.value)"
              class="rounded-full p-3 transition"
              [ngClass]="{
                'ring-4 ring-primary': form.get('value')?.value === r.value
              }"
            >
              <img [src]="r.icon" alt="review" width="100" height="100" />
            </button>
            <p class="text-center text-xl">{{ r.label }}</p>
          </div>
        </div>
        <input type="hidden" formControlName="value" />
        <small
          *ngIf="form.get('value')?.invalid && form.get('value')?.touched"
          class="p-error"
        >
          يرجى اختيار التقييم
        </small>
      </div>

      <!-- Employee Code -->
      <div>
        <label class="block mb-1 font-medium"> اختر الموظف </label>

        <p-select
          [options]="employees"
          placeholder="اختر الموظف"
          [editable]="true"
          optionLabel="name"
          optionValue="code"
          class="w-full border px-3 rounded"
          formControlName="employee_code"
        />
      </div>

      <!-- Notes -->
      <div>
        <label class="block mb-1 font-medium"> الملاحظات (إختياري)</label>
        <textarea
          pInputTextarea
          formControlName="notes"
          rows="3"
          placeholder="إذا كان لديك ملاحظات إضافة تفضل بكتابتها هنا..."
          class="w-full"
        ></textarea>
      </div>

      <div class="text-center gap-3 flex justify-center">
        <p-toast position="top-center" key="main"></p-toast>
        <p-button
          label="الرجوع للعروض"
          outlined
          (onClick)="handleInactivity()"
        />

        <p-button
          type="submit"
          label="إرسال التقييم"
          [disabled]="form.invalid"
        ></p-button>
      </div>
    </form>
  </div>
</div>

<div
  *ngIf="resMessage"
  class="bg-white text-xl absolute z-50 top-0 left-0 w-full h-screen flex justify-center items-center"
>
  <p>{{ resMessage }}</p>
</div>
