<div class="relative h-screen">
  <swiper-container
    #swiperRef
    [init]="false"
    class="mySwiper"
    slides-per-view="1"
    loop="true"
    effect="fade"
    speed="500"
    autoplay-delay="15000"
    autoplay-disable-on-interaction="false"
    fade-effect-cross-fade="true"
    allow-touch-move="true"
    mousewheel="true"
  >
    @for (image of images; track $index) {
    <swiper-slide>
      <div class="py-3 text-center text-2xl">عروض {{ image.category_id }}</div>
      <img
        [src]="image.image"
        alt="image"
        width="600"
        height="400"
      /> </swiper-slide
    >}
  </swiper-container>

  <a [routerLink]="reviewPath">
    <div class="absolute z-50 bottom-10 left-10">
      <button class="bg-black text-white py-5 px-8 rounded">
        <div class="flex items-center gap-5">
          <p>اضغط هنا لبدء التقييم</p>
          <i class="pi pi-pen-to-square text-amber-500"></i>
        </div>
      </button></div
  ></a>
</div>
