<div class="relative h-screen max-h-screen">
  <div class="mySwiper">
    <div
      class="absolute inset-0 transition-opacity duration-1000 ease-in-out h-full w-full"
      [class.opacity-100]="!!images[currentIndex]"
      [class.opacity-0]="!images[currentIndex]"
    >
      <img
        *ngIf="images.length > 0"
        [ngSrc]="images[currentIndex]?.image"
        alt="slide"
        width="600"
        height="400"
        priority
        class="w-full h-full object-fill"
      />
    </div>
  </div>

  <div
    class="absolute z-50 bottom-0 left-0 w-full bg-rose-800 text-white py-3 flex items-center max-h-[50px] min-h-[50px]"
  >
    <!-- Clock Section -->
    <div
      class="w-40 px-4 ml-8 flex-shrink-0 max-h-[50px] min-h-[50px] bg-yellow-50"
    >
      <app-clock></app-clock>
    </div>

    <!-- Marquee Container -->
    <div class="flex-1 overflow-hidden" style="contain: layout">
      <app-ticker></app-ticker>
    </div>
  </div>
</div>
