<div class="relative h-screen max-h-screen">
  @if (init) {
  <swiper-container
    class="mySwiper"
    slides-per-view="1"
    loop="true"
    speed="500"
    autoplay="true"
    effect="fade"
    fade-effect-cross-fade="true"
  >
    @for (image of images; track $index) {
    <swiper-slide>
      <img
        [src]="image.image"
        alt="image"
        width="600"
        height="400"
      /> </swiper-slide
    >}
  </swiper-container>
  }
  <div
    class="absolute z-50 bottom-0 left-0 w-full bg-yellow-600 text-white py-3 flex items-center max-h-[50px] min-h-[50px]"
  >
    <!-- Clock Section -->
    <div
      class="w-40 px-4 ml-8 flex-shrink-0 max-h-[50px] min-h-[50px] bg-yellow-50"
    >
      <app-clock></app-clock>
    </div>

    <!-- Marquee Container -->
    <div class="flex-1 overflow-hidden">
      <div #marquee class="ticker-container">
        <div class="ticker-content" id="marquee">
          <div class="ticker-track">
            <span *ngFor="let item of newsItems" class="ticker-item">{{
              item.post
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
