.mySwiper {
  width: 100vw;
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;

  img {
    object-fit: cover; // 'fill' may distort, 'cover' works better
    width: 100%;
    height: 100%;
  }
}
