.clock {
  text-align: center;
  color: #ca8a04;
  background: white;
  width: fit-content;
  margin: auto;
  height: 50px;
  max-height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
